/.idea/
/infra/roles/vagrant/vars
/infra/vagrant/.vagrant/
/infra/inventory/
/infra/terraform/.terraform/
/infra/terraform/terraform.tfstate.d/
/infra/terraform/tmp/
/infra/terraform/.terraform.lock.hcl
/infra/roles/k3s/vars/main.yaml
.DS_Store
